Repository i9wa4/mcp-databricks-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, mypy, rumdl-check, rumdl-format

actionlint:
  name: actionlint
  entry: mise exec -- actionlint
  language: system

ghalint:
  name: ghalint
  entry: mise exec -- ghalint run
  language: system
  pass_filenames: false

ghatm:
  name: ghatm
  entry: mise exec -- ghatm set
  language: system
  pass_filenames: false

pinact:
  name: pinact
  entry: mise exec -- pinact run
  language: system
  pass_filenames: false

zizmor:
  name: zizmor
  entry: mise exec -- zizmor
  language: system

ruff-check:
  name: ruff check
  entry: mise exec -- uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: mise exec -- uv run ruff format
  language: system

mypy:
  name: mypy
  entry: mise exec -- uv run mypy src
  language: system
  pass_filenames: false

rumdl-check:
  name: rumdl check
  entry: mise exec -- rumdl check
  language: system

rumdl-format:
  name: rumdl format
  entry: mise exec -- rumdl fmt
  language: system

refactor: simplify ci (#31)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  mise.toml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

fix: use gha cache (#32)
  .github/workflows/ci.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

add forked repository
  README.md
Due: rumdl-check, rumdl-format

add forked repository (#38)
  README.md
Due: rumdl-check, rumdl-format

fix: separate gitleaks hooks for pre-commit and CI
  .pre-commit-config.yaml
Due: none

fix: separate gitleaks hooks for pre-commit and CI (#42)
  .pre-commit-config.yaml
Due: none

fix: rename gitleaks hooks and add history scan to CI
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

fix: rename gitleaks hooks and add history scan to CI (#43)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

chore: add minimumReleaseAge to renovate.json
  renovate.json
Due: none

chore: add minimumReleaseAge to renovate.json (#44)
  renovate.json
Due: none

chore(renovate): enhance checkfilter
  renovate.json
Due: none

Configure Dependabot for GitHub Actions updates
  .github/dependabot.yml
Due: none

chore(deps): upgrade pyjwt to 2.12.1 (fix Dependabot alert #14)
  uv.lock
Due: none

chore(deps): upgrade pyjwt to 2.12.1 (fix Dependabot alert #14) (#88)
  uv.lock
Due: none

refactor: migrate from mise to Nix, replace Renovate with Dependabot
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  flake.lock
  flake.nix
  mise.toml
  renovate.json
Due: actionlint, ghalint, ghatm, pinact, zizmor, rumdl-check, rumdl-format

chore(deps): bump pygments from 2.19.2 to 2.20.0
  uv.lock
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  rumdl-check: any of: \.(md|markdown|mdown)$
  rumdl-format: any of: \.(md|markdown|mdown)$
